[submodule "themes/next"]
	path = themes/next
	url = https://github.com/xuzhaocheng/hexo-theme-next.git
[submodule "source/_posts"]
	path = source/_posts
	url = https://github.com/xuzhaocheng/Post.git
