language: node_js
node_js:
- '12'

cache:
  directories:
  - node_modules

branches:
  only:
  - master

before_install:
- openssl aes-256-cbc -K $encrypted_b18b2835f041_key -iv $encrypted_b18b2835f041_iv
  -in travis.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa

install:
- npm install -g hexo-cli
- npm install
- git submodule init
- git submodule update

script:
- hexo clean
- hexo generate

after_success:
- rsync -az -vv --delete -e 'ssh -p 26117' public/ www-data@89.208.242.193:/var/www/blog

addons:
  ssh_known_hosts: 89.208.242.193:26117
