# This is a basic workflow to help you get started with Actions

name: Deploy

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12
          
      - name: Install dependencies
        run: |
          npm install -g hexo-cli
          npm install
          
      - name: Generate blog
        run: |
          hexo clean
          hexo generate
          
      - name: Config Env
        run: |
          mkdir -p ~/.ssh/
          echo ${{ secrets.BEAVER_PRI_KEY }} > ../private.key
          chmod 600 ../private.key
          #echo "${SSH_KNOWN_HOSTS}:${SSH_KNOWN_HOSTS_PORT}" > ~/.ssh/known_hosts
          #rsync -az -vv --delete -e 'ssh -p ${SSH_KNOWN_HOSTS_PORT}' public/ www-data@${SSH_KNOWN_HOSTS}:/var/www/blog
          
          
        env:
           SSH_KNOWN_HOSTS: ${{secrets.DEPLOY_SERVER}}
           SSH_KNOWN_HOSTS_PORT: ${{secrets.DEPLOY_SERVER_PORT}}
   
         
