# This is a basic workflow to help you get started with Actions

name: Deploy

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12
          
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          path: 'blog'
          submodules: 'true'
          
      - name: Generate blog
        run: |
          cd ${{ github.workspace }}/blog
          npm install -g hexo-cli
          npm install
          hexo clean
          hexo generate
      
      - uses: actions/checkout@v2
      - name: rsync deployments
        uses: up9cloud/action-rsync@v1.1
        env:
          HOST: ${{secrets.DEPLOY_SERVER}}
          KEY: ${{secrets.BEAVER_PRI_KEY}}
          TARGET: /var/www/blog

          VERBOSE: true
          USER: www-data
          #PORT: ${{secrets.DEPLOY_SERVER_PORT}}
          ARGS: -az -vv --delete
          SSH_ARGS: '-p ${{secrets.DEPLOY_SERVER_PORT}} -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
          SOURCE: ${{ github.workspace }}/blog/public/
  
   
         
